
<h1><%= @dojo.branch %>'s <%= @student.first_name %> <%= @student.last_name %></h1>
<h2>Email: <%= @student.email %></h2>

<h1>Cohort</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
  	<% @students.each do |s| %>
      <th scope="row"><%=s.first_name %></th>
      <td><%=s.last_name %></td>
      <td><%=s.email %></td>
	<% end %>
	 | <a href="/dojos/<%= @dojo.id %>/students/<%= @student.id %>/edit">Edit</a> | <a href="/dojos">Home</a>

  </tbody>
</table>
